/* http://meyerweb.com/eric/tools/css/reset/ v5.0.1 | 20191019 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, menu, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
    line-height: 1;
}
menu, ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, :after, :before {
    box-sizing: border-box;
}

/* common */
.hidden {
    display: none;
}

/* theme */


/* loading */
.loading-overlay {
    z-index: 0;
}

.overlay {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-logo {
    height: 4.5rem;
    display: block !important;
    opacity: 0;
    animation: fadein 1s linear 1s forwards;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* background */
.background {
    margin: 0;
    padding: 0;
    z-index: 1;
    transition: transform 0.3s ease-out;
}

.background, .background-item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    background-image: url(../img/overlay.png);
    background-size: 100% 100%;
    transition: opacity 0.3s ease-out;
}

/* icon */
.control {
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    box-sizing: content-box;
    cursor: pointer;
    z-index: 2;
}

.icon {
    height: 20px;
    width: 20px;
    fill: #fff;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* clock */
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1050%;
    color: #fff;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: bold;
    width: 530px;
    display: flex;
    justify-content: center;
}
.clock > div {
    height: 150px;
}
.clock #clock {
    width: 430px;
}
.clock > div:first-child {
    width: 50px;
    margin-left: 25px;
}
.clock > div:last-child {
    width: 50px;
    margin-left: 25px;
}