/* http://meyerweb.com/eric/tools/css/reset/ v5.0.1 | 20191019 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, menu, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
    line-height: 1;
}
menu, ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, :after, :before {
    box-sizing: border-box;
}

/* common */
.hidden {
    display: none;
}

/* theme */


/* loading */
.loading-overlay {
    z-index: 0;
}

.overlay {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-logo {
    height: 4.5rem;
    display: block !important;
    opacity: 0;
    animation: fadein 1s linear 1s forwards;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* background */
.background {
    margin: 0;
    padding: 0;
    z-index: 1;
    transition: transform 0.3s ease-out;
}

.background, .background-item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #bebebe;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* icon */
.control {
    height: 25px;
    width: 25px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    box-sizing: content-box;
    cursor: pointer;
    z-index: 2;
}

.icon {
    height: 20px;
    width: 20px;
    fill: #fff;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* center-panel */
.center-panel {
    position: absolute;
    top: 30%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: bold;
    height: 300px;
    text-align: center;
}

.center-panel #time {
    font-size: 168px;
    min-width: 600px;
    max-width: 900px;
    padding: 0 100px;
    height: 200px;
    line-height: 200px;
    text-shadow: 0px 0px 10px #000;
    text-align: center;
    white-space: nowrap;
}

.center-panel .button-area {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.center-panel .button-area > div {
    position: absolute;
    height: 46px;
    width: 46px;
    overflow: hidden;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.center-panel .button-area button {
    height: 46px;
    width: 46px;
    border: 0;
    display: block;
    background: none;
}

.center-panel .button-area > div:after {
    display: none;
    height: 46px;
    width: 46px;
    border: 0;
    border-radius: 23px;
    background: #000;
    cursor: pointer;
    opacity: .3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.center-panel .button-area > div:hover:after {
    display: block;
}

.center-panel .button-area div.background-change {
    right: 0;
    left: unset;
}

.center-panel .greeting-panel {
    width: 100%;
    height: 100px;
    padding-top: 50px;
}

.greeting-panel form {
    width: 300px;
    height: 50px;
    margin: 0 auto;
}

.greeting-panel input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
    font-size: 45px;
}

.greeting-panel input::placeholder {
    color: #fff;
}

input:focus {
    outline: none;
} /* outline 테두리 없애기 */

.greeting-panel h1 {
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
    font-size: 45px;
}

/* header */
header {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: #fff;
}

#quote {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000;
    text-align: center;
}

#weather {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    text-shadow: 0px 0px 10px #000;
}

/* weather */
#weather > span {
    display: block;
}
#weather > span:first-child {
    width: 80px;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 60%;
    text-align: right;
}
#weather > span:last-child {
    font-size: 14px;
    text-align: center;
}

/* todo */
.todo-panel {
    position: absolute;
    bottom: 50px;
    left: 50%;
    color: #fff;
    transform: translate(-50%, 0);
    z-index: 2;
    font-weight: bold;
    width: 600px;
    height: 350px;
    text-align: center;
}

.todo-panel input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
    font-size: 40px;
}

.todo-panel input::placeholder {
    color: #fff;
}
.todo-panel ul {
    height: 280px;
    margin-top: 20px;
    overflow: auto;
}
.todo-panel li {
    width: 100%;
    text-align: left;
    font-size: 25px;
    line-height: 40px;
    text-shadow: 0px 0px 10px #000;
}
.todo-panel li.complete span {
    text-decoration: line-through;
}

.todo-panel li button {
    width: 25px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    background-color: transparent;
    margin-left: 5px;
}

.todo-panel li button.complete {
    background-image: url('../img/check.svg');
}
.todo-panel li button.delete {
    background-image: url('../img/trash.svg');
}